.body-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(20, 43, 125, 0.58);
  border: solid #142b7d;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
}

.small-icon {
  width: 35px;
  top: -5px;
}

.forecast-temperature {
  color: #a74bbf;
  font-size: 18px;
}

.container {
  margin: 0;
  padding: 10px 5px;
}

#description {
  font-size: 20px;
}

#celsius,
#fahrenheit {
  text-decoration: none;
  color: #f7724a;
}

#celsius:hover,
#fahrenheit:hover {
  color: #a74bbf;
}

#celsius.selected,
#fahrenheit.selected {
  color: #a74bbf;
}
