:root {
  --main-font: "Roboto", sans-serif;
  --background-color: rgba(20, 43, 125, 0.41);
  --input-background-color: rgba(20, 43, 125, 0.55);
  --border-color: rgba(20, 43, 125, 0.6);
  --primary-font-color: #e5e5e5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  margin: 30px auto;
}

@media (max-width: 768px) {
  .search-row {
    padding-left: 2px;
    padding-right: 2px;
  }

  .date-time {
    display: none;
  }
}
