.form-control {
  background-color: #f8f1e6;
  border-style: solid;
  border-color: #fcc97d;
  border-width: 2px;
  border-radius: 40px;
  margin-right: 0;
  width: 146px;
  line-height: 18px;
}

.day {
  text-align: left;
  color: #a74bbf;
  font-size: 18px;
}

.date-time {
  text-align: right;
  color: #2c87d1;
  padding-left: 10px;
}

button {
  background-color: #fcc97d;
  border-color: #f8f1e6;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
}

button:hover {
  transition: all 200ms ease;
  background-color: #f8f1e6;
}

ul {
  list-style: none;
}

h1 {
  color: #4eae5a;
  line-height: 60px;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 600;
}

.degrees {
  font-size: 45px;
  font-weight: 600;
  color: #f7724a;
  padding-left: 20px;
  position: relative;
  top: 14px;
}

h6 {
  color: #1bb1ab;
  margin-bottom: 0px;
  font-size: 18px;
}

.humidity-wind {
  color: #f7386c;
  font-size: 16px;
}
