.WeatherInfo {
  padding: 15px 100px 25px 100px;
}

h1 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  color: var(--primary-font-color);
}

.cityName {
  padding-top: 25px;
}

h6 {
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  color: var(--primary-font-color);
  opacity: 0.8;
}

.row {
  align-items: center;
}

.col {
  display: flex;
  justify-content: center;
}

.humidity {
  padding-left: 40px;
}

.humidity-wind {
  font-weight: 300;
  font-size: 25px;
  color: var(--primary-font-color);
}

.humidity-icon,
.wind-icon {
  width: 70px;
}
